doctype html
html
	head
		title= title

		// Viewport mobile tag for sensible mobile support
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

		block styles

		// link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		// link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')

		// script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
		// script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")		
		// script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
		// script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js")

		link(rel='stylesheet', href='/styles/bootstrap.min.css')
		link(rel='stylesheet', href='/styles/font-awesome.min.css')

		script(type="text/javascript", src="/js/jquery-1.11.0.min.js")
		script(type="text/javascript", src="/js/bootstrap.min.js")		
		script(type="text/javascript", src="/js/underscore-min.js")
		script(type="text/javascript", src="/js/backbone-min.js")

		block scripts
		
	body
		block body

		// A few key dependencies, linked in order

		// Bring in the socket.io client
		script(type="text/javascript", src="/js/socket.io.js")

		// then beef it up with some convenience logic for talking to Sails.js'
		script(type="text/javascript", src="/js/sails.io.js")

		// listen on socket.io for incoming messages
		script(type="text/javascript", src="/js/app.js")
