doctype xml
EeeDataSet(xmlns="http://tempuri.org/EeeDataSet.xsd")
	each user in users
		User
			UserID= user.id
			Login= user.name
			State 1
			Client EeeChat.js 0.1
			LoginTime 2014-01-01T00:00:00+02:00